<div [formGroup]="form">
	<div class="panel panel-default" formGroupName="child_one">
		<label [ngClass]="isValid('child_one') === 'VALID' && isTouched('child_one') ? 'valid' : ( isValid('child_one') === 'INVALID' && isTouched('child_one') ? 'invalid' : 'init')">status</label>
		<p>child_one:</p>
		<p>ID >> {{ form.get('child_one.id').value }}</p>
		<!-- <input type="text" name="id" formControlName="id" disabled /> -->
		<p>Name >> {{ form.get('child_one.name').value }}</p>
		<!-- <input type="text" name="name" formControlName="name" disabled /> -->
	</div>
	<button class="btn btn-primary" (click)="onEdit()">edit</button>
	<app-input *ngIf="isShowInput" [formChild]="form.get('child_one')" (onDone)="onDone($event)"></app-input>
</div>